/*Banner background*/

.banner-head {
    min-height: 90vh;
    background: #CCCCCC;
    display: flex;
    gap: 5%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container-imagem {
    flex: 1;
    min-width: 400px;
    max-width: 700px;
    display: flex;
    overflow: hidden;
}


.banner-img {
    width: 100%;
    height: auto;
    filter: brightness(0.8);
    object-fit: contain;
}

/*Container para Configura titulo e botões embaixo do outro*/
.container-banner {
    display: grid;
    flex-direction: column;
    padding: 50px;
}

/**/

/*Titulo do banner*/
.Titulo-banner {
    position: relative;
    width: 525px;
    ;
    height: 300px;
    padding: 10px;

}

.Titulo-banner h1 {
    font-size: 22px;
    text-align: start;
}

.Titulo-banner span {
    display: inline-block;
    font-size: 68px;
    color: var(--cor-contraste);
}


.Titulo-banner p {
    font-size: 24px;
    color: var(--cor-texto);

}

.container-texto-animados {
    width: 525px;
    height: 100px;
    margin-bottom: 20px;

}

/**/



/*Botoes do banner*/

.botoes-banner {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}

/*animacao*/


.texto-animado {
    display: none !important;
}

.texto-active {
    display: flex !important;
}

@keyframes animacao_subir {

    0% {
        transform: translateY(0);
    }

    30% {
        opacity: 30%;
    }

    50% {
        transform: translateY(-25px);
        opacity: 0;
    }


}

@keyframes animacao_desce {

    0% {
        transform: translateY(25px);
        opacity: 0;
    }

    30% {
        opacity: 70%;
    }

    50% {
        transform: translateY(0);
        opacity: 100%;
    }


}

/*Responsivo*/

@media (max-width:1120px) {

    .banner-head {
        padding-top: 80px;
    }

    .container-imagem {
        width: 300px;
        height: 350px;
    }


}

@media (max-width: 560px) {
    .Titulo-banner h1 {
        font-size: 20px;
        text-align: center;

    }

    .container-texto-animados{
        width: 430px;
        margin-bottom: 0
    }


    .Titulo-banner span {
        font-size: 57px;
        text-align: center;
        justify-content: center;
    }

}



@media (max-width: 558px) {
    .Titulo-banner {
        width: 450px;
        height: 260px;
    }

}

@media (max-width: 558px) {
    .Titulo-banner p {
        text-align: center;
        font-size: 18px;
    }

}