@import url("./navbar.css");
@import url("./banner.css");

:root{
    --cor-primaira: #EDE89D;
    --cor-segundaria: #19b5a5;
    --cor-contraste: #FF6933;
    --cor-texto: #5E5473;
    --cor-escura: #41033C;
    --cor-branco:azure ;
}

body{
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    color: var(--cor-texto);
}

a{
    text-decoration: none;
    color: var(--cor-texto);
}


h1{
    margin: 0;
    font-size: 27px;
}

.section-container{
    max-width: 1750px;
    width: 100%;
    margin: 0 auto;
}

/*Botões Padronizados*/

.botao{
    width: 130px;
    height: 40px;
    padding: 5px;
    border: 0px;
    border-radius: 24px;
    background-color: var(--cor-escura);
    color: var(--cor-branco);
    transition: 0.5s ease-in-out;
}

.botao:hover{
    background-color: var(--cor-segundaria);
    color: var(--cor-escura);
    font-weight: bold;
    font-size: 12px;
    transform: scale(1.1);

}