@import url("./navbar.css");
@import url("./banner.css");
@import url("./sobre.css");

:root{
    --cor-primaira: #EDE89D;
    --cor-segundaria: #19b5a5;
    --cor-contraste: #FF6933;
    --cor-texto: #5E5473;
    --cor-escura: #41033C;
    --cor-branco:azure ;
}

body{
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    color: var(--cor-texto);
}

a{
    text-decoration: none;
    color: var(--cor-texto);
}

p{
    font-size: 24px;
    color: var(--cor-texto);
    margin-bottom: 5px;
}


h1{
    margin: 0;
    font-size: 40px;
    text-align: center;
    color: var(--cor-escura);
}

.section-container{
    width: 100%;
    max-width: 1450px;
    margin: 0 auto;   
    padding: 0 20px;
}

.section{
    margin: 50px 0;
  padding: 30px 0;
}

/*Botões Padronizados*/

.botao{
    width: 170px;
    height: 40px;
    padding: 5px;
    border: 0px;
    border-radius: 24px;
    background-color: var(--cor-escura);
    color: var(--cor-branco);
    transition: 0.5s ease-in-out;
}

.botao:hover{
    background-color: var(--cor-segundaria);
    color: var(--cor-escura);
    font-weight: bold;
    font-size: 12px;
    transform: scale(1.1);
}


@media (max-width:620px){
    .section-container{
        max-width: 560px;
    }
}