/*Barra de Navegação*/
.navbar {
    width: 100%;
    height: 90px;
    display: grid;
    background-color: color-mix(in srgb, var(--cor-primaira), white 50%);
    position: fixed;
    z-index: 1;
    padding: 7px;

}

.navbar-head {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

/**/

/*NavBar*/

/*Logo navbar*/
.logo-navbar {
    padding: 10px;
    align-content: center;
}

/**/

.menu-navbar {
    padding: 5px;
    align-content: center;
    margin-right: 15px;
    z-index: 2;

}

.links-navbar {
    display: flex;
    justify-content: space-around;
    gap: 45px;
    font-size: 20px;
}



.link-navbar {
    position: relative;
}

.link-navbar a {
    transition: 1s ease;
}

.link-navbar a:hover {
    color: var(--cor-segundaria);
    font-weight: bold;
}

/*Criar linha*/
.link-navbar::after {
    content: " ";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: var(--cor-segundaria);
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

/*Pata de gato*/


.link-navbar a:hover::after {
    content: " ";
    position: absolute;
    width: 22px;
    height: 20px;
    background-color: var(--cor-segundaria);
    mask-image: url("../imagem/icons/pata_icon.png");
    -webkit-mask-image: url("../imagem/icons/pata_icon.png");
    -webkit-mask-size: contain;
    mask-size: contain;
    left: -25px;

}

.link-navbar:hover::after {
    width: 100%;
}

/* Circulo*/

.circulo {
    position: absolute;
    min-width: 150px;
    min-height: 150px;
    border: 0;
    border-radius: 50%;
    background-color: color-mix(in srgb, var(--cor-primaira), white 50%);
    z-index: 1;
    top: 27px;
    right: -50px;
}

.circulo-pequeno {
    min-width: 90px;
    min-height: 90px;
    top: 57px;
    right: 65px;
    z-index: 1;
}


/*Configuração menu mobile*/

.menu-mobile {
    display: none;
    color: var(--cor-escura);
    margin-right: 20px;
    padding: 10px;
    font-size: 20px;
    z-index: 2;
    cursor: pointer;
}

.botao-fechar-menu {
    display: none;
    color: var(--cor-escura);
    padding: 10px;
    position: absolute;
    top: 25px;
    right: 40px;
    font-size: 20px;
    cursor: pointer;
}

.menu-mobile i {
    width: 100%;
}


.imagem-logo {
    width: 90px;
}

/*Aparece na versõa mobile*/

.logo-mobile {
    display: none;
    position: absolute;
    top: 70px;
    left: 60px;

}

.logo-mobile img {
    width: 120px;
}

.navbar-out{
    visibility: hidden;
    width: 100vw;
    height: 200vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--cor-escura);
    z-index: 3;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    opacity: 0;
    pointer-events: none;

}

.navbar-out-active{
    visibility: visible;
    opacity: 0.3;
    pointer-events: auto;
}

@media (min-width:620px) {
    .navbar-out-active{
        visibility: hidden;
        pointer-events: none;
    }
}


@media (max-width: 620px) {
    .menu-mobile {
        display: block;
    }

    .logo-mobile {
        display: block;

    }


    .menu-navbar {
        position: absolute;
        top: 0;
        left: -357px;
        width: 260px;
        height: 950px;
        padding: 20px;
        flex-direction: column;
        background-color: color-mix(in srgb, var(--cor-primaira), white 30%);
        transition: 1s ease;
        z-index: 4;
    }

    .menu-mobile-active {
        left: 0 !important;
    }

    .botao-fechar-menu {
        display: block;
    }

    .links-navbar {
        position: absolute;
        flex-direction: column;
        top: 200px;
    }


}