/*Barra de Navegação*/
.navbar {
    width: 100%;
    height: 90px;
    background-color: color-mix(in srgb, var(--cor-primaira), white 50%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    display: flex;
    justify-content: center;

}

.navbar-head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/**/

/*NavBar*/

/*Logo navbar*/
.logo-navbar {
    padding: 10px;
    align-content: center;
}

/**/

.menu-navbar {
    padding: 5px;
    align-content: center;
    margin-right: 15px;
    z-index: 2;

}

.links-navbar {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    font-size: 20px;
}



.link-navbar {
    position: relative;
}

.link-navbar a {
    transition: 1s ease;
}

.link-navbar a:hover {
    color: var(--cor-segundaria);
    font-weight: bold;
}

/*Criar linha*/
.link-navbar::after {
    content: " ";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: var(--cor-segundaria);
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

/*Pata de gato*/


.link-navbar a:hover::after {
    content: " ";
    position: absolute;
    width: 22px;
    height: 20px;
    background-color: var(--cor-segundaria);
    mask-image: url("../imagem/icons/pata_icon.png");
    -webkit-mask-image: url("../imagem/icons/pata_icon.png");
    -webkit-mask-size: contain;
    mask-size: contain;
    left: -25px;

}

.link-navbar:hover::after {
    width: 100%;
}


/*Configuração menu mobile*/

.menu-mobile {
    display: none;
    color: var(--cor-escura);
    margin-right: 40px;
    padding: 10px;
    font-size: 20px;
    z-index: 2;
    cursor: pointer;
}

.botao-fechar-menu {
    display: none;
    color: var(--cor-escura);
    padding: 10px;
    position: absolute;
    top: 25px;
    right: 40px;
    font-size: 20px;
    cursor: pointer;
}

.menu-mobile i {
    width: 100%;
}


.imagem-logo {
    width: 90px;
}

/*Aparece na versõa mobile*/

.logo-mobile {
    display: none;
    position: absolute;
    top: 70px;
    left: 60px;

}

.logo-mobile img {
    width: 120px;
}

.navbar-out {
    visibility: hidden;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--cor-escura);
    z-index: 3;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    opacity: 0;
    pointer-events: none;

}

.navbar-out-active {
    visibility: visible;
    opacity: 0.3;
    pointer-events: auto;
}

@media (max-width:1116px) {
    .navbar {
        height: 70px;
    }


    .imagem-logo {
        width: 75px;
    }
}

@media (min-width:620px) {
    .navbar-out-active {
        visibility: hidden;
        pointer-events: none;
    }
}


@media (max-width: 620px) {
    .menu-mobile {
        display: block;
    }

    .logo-mobile {
        display: block;

    }


    .menu-navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 260px;
        height: 100vh;
        padding: 20px;
        transform: translateX(-100%);
        flex-direction: column;
        background-color: color-mix(in srgb, var(--cor-primaira), white 30%);
        transition: 1s ease;
        z-index: 4;
    }

    .menu-mobile-active {
        transform: translateX(0)
    }

    .botao-fechar-menu {
        display: block;
    }

    .links-navbar {
        position: absolute;
        flex-direction: column;
        gap: 25px;
        top: 210px;
        left: 61px;
    }


}

@media (max-width: 592px) {
    .menu-mobile {
        margin-right: 65px;
    }
}


@media (max-width: 450px) {
    .menu-mobile {
        margin-right: 100px;
    }
}

@media (max-width: 430px) {
    .menu-mobile {
        margin-right: 130px;
    }

}

@media (max-width:398px) {
    .menu-mobile {
        margin-right: 40%;
    }
}