/*Barra de Navegação*/
.navbar{
    width: 100%;
    height: 70px;
    display: grid;
    background-color: color-mix(in srgb, var(--cor-primaira), white 50%);
    position: fixed;
}

.navbar-head{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/**/

/*NavBar*/

.logo-navbar{
    padding: 10px;
    align-content: center;
}

.menu-navbar{
    padding: 5px;
    align-content: center;
    margin-right: 15px;

}

.links-navbar{
    display: flex;
    justify-content: space-around;
    gap: 15px;
}